[Unit]
Description=Frontend Github webhook
After=network.target

[Service]
Environment=NODE_PORT=5001
Type=simple
User=pi
ExecStart=/usr/bin/nodejs /home/pi/infra/fe_webhook.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
