[Unit]
Description=Github webhook services
After=network.target

[Service]
Environment=NODE_PORT=5000
Type=simple
User=pi
ExecStart=/usr/bin/nodejs /home/pi/infra/scripts/webhook.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
